
body {
    margin: 0;
    padding: 0;
    line-height: 1.2em;
}

h1 {
    font-family: 'EB Garamond', serif;
    font-size: 29px;
    margin-top: 127px;
    color: #213D0B;
}
h2 {
    font-size: 18px;
    margin-top: 45px;
    margin-bottom: 64px;
    color: #3D6D16;
}
h2, h5, p {
    font-family: 'Oswald', sans-serif;
}
p {
    font-weight: 300;
    font-size: 18px;
    color: #ABABAB;
    line-height: 2em;
    text-align: justify;
}
h5 {
    font-weight: bold;
    font-size: 18px;
    color: #3D6D16;
}

.sectionheader h4 {
    font-size: 28px;
    font-family: "EB Garamond", serif;
    color: #213D0B;
}
.sectioncontent {
    margin-top: 25px;
}

.tabsection {
    margin-top: 20px;
}

.header {
    height: 100vh;
}
.header-btn {
    margin-top: 50px;
}
.tab-btn {
    margin-top: 0;
    padding: 12px;
}

.introduction {
    background-color: #B5E78E;
    height: 80vh;
    overflow: auto;
}

.avatar {
    width: auto;
}
.whatido {
    margin-bottom: 50px;
}

.tabimage {
    width: auto;
}

.minusmargin {
    margin-top: -10px;
    z-index: 1;
    position: relative;
}

textarea {
    border: 2px solid #B5E78E;
    border-radius: 10px;
    padding: 10px;
}
input {
    border: 2px solid #B5E78E;
    border-radius: 10px;
    padding: 10px;
    -webkit-appearance: none;
}
form {
    margin-left: -2%;
}

.desktop-only {
    display: none;
}
@media only screen and (min-width: 993px){
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 24px;
        line-height: 1.5em;
    }
    .sectionheader h4 {
        font-size: 30px;
    }
    h5, p {
        font-size: 20px;
    }
    .introduction {
        display: grid;
        grid-template-columns: 50% 50%;
        line-height: 80vh;
    }
    .contactform {
        display: grid;
        grid-template-columns: 60% 40%;
    }
    .contactform img {
        margin-top: 40px;
    }

    .desktop-only {
        display: inline;
    }
}